POSTGRES_DB=YOUR_DATABASE_NAME
POSTGRES_USER=YOUR_DATABASE_USER
POSTGRES_PASSWORD=YOUR_DATABASE_PASSWORD
API_PORT=8080
POSTGRES_HOST_PORT=5434
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
REQUEST_TIMEOUT_SECONDS=5
